{% load i18n %}
{% load staticfiles %}

<div class="footer_menu">
    <div class="container">
        <ul>
            <li>ИНФОРМАЦИЯ</li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Оплата и доставка</a></li>
            <li><a href="#">Политика Безопасности</a></li>
            <li><a href="#">Условия соглашения</a></li>
            <li><a href="#">СЛУЖБА ПОДДЕРЖКИ</a></li>
        </ul>
        <ul>
            <li>СЛУЖБА ПОДДЕРЖКИ</li>
            <li><a href="#">Связаться с нами</a></li>
            <li><a href="#">Возврат товара</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">ДОПОЛНИТЕЛЬНО</a></li>
        </ul>
        <ul>
            <li>ДОПОЛНИТЕЛЬНО</li>
            <li><a href="#">Личный кабинет</a></li>
            <li><a href="#">История заказов</a></li>
            <li><a href="#">Закладки</a></li>
            <li><a href="#">Рассылка</a></li>
        </ul>
        <ul>
            <li>ДЛЯ ПАРТНЕРОВ</li>
            <li><a href="#">Производители</a></li>
            <li><a href="#">Подарочные сертификаты</a></li>
            <li><a href="#">Партнёрская программа</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">ДЛЯ ПАРТНЕРОВ</a></li>
        </ul>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="footer_logo">
            <img src="{% static "img/logo.png" %}" alt="">
            <p>Интернет - магазин домашнего уюта <br>
                Мебель Jazz © 2016</p>
        </div>
        <div class="social">
            <p>Присоединяйтесь к нам</p>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="contacts">
            <div class="contacts_img">
                <a href="tel:+380661244794">(066) 124 47 94</a>
                <a href="tel:+380935525100">(093) 552 51 00</a>
                <a href="tel:+380686787066">(068) 678 70 66</a>
            </div>
            <span>г. Киев</span>
            <p>email: <a href="mailto:info@mebeljazz.com.ua">info@mebeljazz.com.ua</a></p>
        </div>
    </div>
</div>