{% load category_tags %}
{% load i18n %}

{% category_tree depth=2 as tree_categories %}
{% if tree_categories %}
    {% for tree_category, info in tree_categories %}
        {% if info.has_children or tree_category.depth == 1 %}
            <h2>{{ tree_category.name }}</h2>
            <ul>
        {% else %}
            <li><a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
        {% endif %}
    {% for close in info.num_to_close %}
        </ul></li>
    {% endfor %}
    {% endfor %}
{% endif %}

