.m-l-12{
    margin-left: 12px !important;
}

.error_field{
    border-color: #ff0039 !important;
}

.left_column h2 a{
    color: #fff !important;
}

.left_column h2 a:hover{
    color: #fff !important;
}

#spin{
    z-index: 999;
}