
.error_field{
    border-color: #ff0039 !important;
}

.left_column h2 a{
    color: #fff !important;
}

.left_column h2 a:hover{
    color: #fff !important;
}

#spin{
    z-index: 999;
}

.product-akziya, .product-akziya-percent{
    width: 85px;
    height: 35px;
    position: absolute;
    z-index: 98;
}

.product-akziya-percent{
    top: 0;
    right: 0;
    background-color: #4fbd43;
}
.product-akziya{
    top: 0;
    left: 0;
    background-color: #ff4040;
}

.product-akziya p, .product-akziya-percent p{
    margin-top: 8px;
    color: #fff;
    font-weight: bold !important;
}