{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}

        <div class="slider_two">
            <ul class="bxslider_two">
                {% for image in all_images %}
                <li>
                    {% thumbnail image.original "180x283" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}
                </li>
                {% endfor %}
            </ul>
            <div id="bx-pager">
                {% for image in all_images %}
                <a data-slide-index="{{ forloop.counter0 }}" href="">
                    {% thumbnail image.original "35x55" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}
                </a>
                {% endfor %}
            </div>
        </div>

    {% else %}

        {# Only one image to show #}
        <div class="slider_two">
            <ul class="bxslider_two">
                {% with image=product.primary_image %}
                <li>
                    {% thumbnail image.original "180x283" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}
                </li>
                {% endwith %}
            </ul>

        </div>
    {% endif %}
{% endwith %}
