{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
    {% if product.is_discountable and product.discount_value > 0 %}
    <p class="product-triangle_text">АКЦИЯ</p>
    <div class="product-triangle"></div>
    {% endif %}
    <div>
        {% block product_image %}
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x240" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}
                {% endwith %}

        {% endblock %}


        {% block product_title %}
            <p>{{ product.get_title}}</p>
        {% endblock %}
        <p>{{ product.get_preview_info }}</p>
        <p>ART.: {{ product.upc }}</p>
        <a href="{{ product.get_absolute_url }}" class="items_more">ПОДРОБНЕЕ</a><a href="{{ product.get_absolute_url }}" class="items_buy">ВЫБРАТЬ</a>
    </div>
        {% comment %}
        {% block product_price %}
            <div class="product_price">
                {% include "catalogue/partials/stock_record.html" %}
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
            </div>
        {% endblock %}
        {% endcomment %}
{% endblock %}
