
<div class="review_block clear_fix" style="padding-left: 15px; padding-right: 15px;">
    <span class="review_caption">{{ article.title }}</span>
    <select class="rating_photo">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div class="comment_text">{{ article.description|safe }}</div>
    <span class="review_time">Добавлено: {{ article.creation_date|date:'d.y.m' }}</span>
    <a href="{% url 'articles:detail' article.pk %}" class="read_more">Читать полностью</a>
</div>