
<div class="review_block clear_fix" style="padding-left: 15px; padding-right: 15px;">
    <span class="review_caption">{{ article.title }}</span>
    <select class="rating_photo">
        {% for k,v in article.SCORE_CHOICES|slice:"1:" %}
            <option value="{{ k }}" {% if k == article.score  %}selected=""{% endif %}>{{ v }}</option>
        {% endfor %}
    </select>
    <div class="comment_text">{{ article.description|safe }}</div>
    <span class="review_time">Добавлено: {{ article.creation_date|date:'d.y.m' }}</span>
    <a href="{% url 'articles:detail' article.pk %}" class="read_more">Читать полностью</a>
</div>