{% extends 'layout.html' %}

{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'articles:all' %}">Список статей</a></li>
        <li class="active">{{ article.title }}</li>
    </ul>
    <span class="review_time review_time_inside">Добавлено: {{ article.creation_date|date:'d.y.m' }}</span>
{% endblock %}

{% block content_cls %}
    right_before
{% endblock %}

{% block content %}
    <div class="product_info">
        <span class="review_caption review_caption_inside">{{ article.title }}</span>
        <select class="rating_photo">
            {% for k,v in article.SCORE_CHOICES|slice:"1:" %}
                {{ k }}
                <option value="{{ k }}" {% if k == article.score  %}selected=""{% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
        <div class="comment_text">
            {{ article.text|safe }}
        </div>
    </div>
{% endblock %}