{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    Контакты
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
		<li><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
		<li class="active">Контакты</li>
    </ul>
{% endblock %}

{% block content %}
	<div class="right_before">
		<ul class="contacts_list">
			<li>
				<p class="contacts_list_caption">Наши телефоны:</p>
				<a href="">(066) 124 47 94</a>
				<a href="#">(093) 552 51 00</a>
				<a href="#">(068) 678 70 66</a>
			</li>
			<li>
				<p class="contacts_list_caption">Почта:</p>
				<a href="#">info@mebeljazz.com.ua</a>
			</li>
			<li>
				<p class="contacts_list_caption">Наш склад:</p>
				<p>г. Киев, ул. Кириловская 86</p>
				<p class="descrip">Внимание, товар отпускается только по предварительному заказу через сайт или по телефонам </p>
			</li>
			<li>
				<p class="contacts_list_caption">Время работы:</p>
				<p class="change_margin">Пн-пт: 9:00 до 19:00 </p>
				<p>Сб-вс: выходной</p>
			</li>
		</ul>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.0660656170726!2d30.48514011526631!3d50.477113793325096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cde0edf257cd%3A0x78bdf300ceb66a64!2z0LLRg9C70LjRhtGPINCa0LjRgNC40LvRltCy0YHRjNC60LAsIDg2LCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1484307220337" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

		<div class="contact_us">
			<form action="{% url 'common:send_message' %}" method="POST">
				{% csrf_token %}
				<p class="contacts_list_caption">Написать нам:</p>
				{{ form.name }}
				{{ form.email }}
				{{ form.message }}
				<button type="submit" class="button_green">Отправить сообщение</button>
			</form>
			<p class="p_placeholder">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <br>
			Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
		</div>
	</div>

{% endblock content %}