{% extends "layout_2_col.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load product_tags %}
{% load discount_tags %}
{% load i18n %}

{% block all_content %}
<div class="right_column tovar">
    <div class="top_panel">
        <p class="title">Акции</p>
        <div class="arrows_wrap">
            <a class="left" href="#!"></a>
            <a class="right" href="#!"></a>
        </div>
    </div>
    <ul class="slider">
        {% for dp in discounted_products %}
        <li>
            {% if dp.product.discount_type == 1 %}
            <span>-{{ dp.product.discount_value| cut_percent }} грн.</span>
            {% else %}
            <span>-{{ dp.product.discount_value| cut_percent }}%</span>
            {% endif %}
            {% with image=dp.product.primary_image.original %}
            {% thumbnail image "x253" upscale=False as thumb %}
            <img src="{{ thumb.url }}" alt="{{ dp.product.get_title }}">
            {% endthumbnail %}
            {% endwith %}
            <p>{{ dp.product.get_title}}</p>
            <p>{{ dp.product.get_preview_info }}</p>
            <a href="{{ dp.product.get_absolute_url }}" class="new_price">{{ dp.price_with_discount| floatformat:2 }}
                грн.</a>
            <a href="{{ dp.product.get_absolute_url }}" class="price old_price"><span>{{ dp.price_excl_tax| floatformat:2 }}</span>грн</a>
        </li>
        {% endfor %}
    </ul>

</div>
<div class="right_column tovar">
    <div class="top_panel">
        <p class="title">Популярное</p>
        <div class="arrows_wrap">
            <a class="left" href="#!"></a>
            <a class="right" href="#!"></a>
        </div>
    </div>
    <ul class="slider">
        {% for product in popular %}
        <li>
            {% with image=product.primary_image.original %}
            {% thumbnail image "x253" upscale=False as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}
            {% endwith %}
            <p>{{ product.get_title}}</p>
            <p>{{ product.get_preview_info }}</p>
            <a href="#!" class="price"><span></span>{{ product.price }} грн.</a>
        </li>
        {% endfor %}
    </ul>

</div>
<div class="right_column tovar">
    <div class="top_panel">
        <p class="title">Рекомендуемое</p>
        <div class="arrows_wrap">
            <a class="left" href="#!"></a>
            <a class="right" href="#!"></a>
        </div>
    </div>
    <ul class="slider">
        {% for product in recommended %}
        <li>
            {% with image=product.primary_image.original %}
            {% thumbnail image "x253" upscale=False as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}
            {% endwith %}
            <p>{{ product.get_title}}</p>
            <p>{{ product.get_preview_info }}</p>
            <a href="#!" class="price"><span></span>{{ product.price }} грн.</a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
