{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    <div class="container-fluid">
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="{% url "promotions:home" %}">
						<img src="{% static "img/logo.png" %}" alt="">
					</a>
				</div>
				<div class="phone_numbers">
					<a href="tel:+380661244794"><span>(066)</span> 124 47 94</a>
					<a href="tel:+380935525100"><span>(093)</span> 552 51 00</a>
					<a href="tel:+380686787066"><span>(068)</span> 678 70 66</a>
				</div>
				{% include "partials/mini_basket.html" %}
			</div>
		</div>

		<div class="menu clear_fix">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>

					    </div>

					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						    <div class="bot_menu">
						      <ul class="nav navbar-nav">
								<li><a href="#">главная</a></li>
								<li><a href="#">ОПЛАТА И ДОСТАВка</a></li>
								<li><a href="#">ОТЗЫВЫ</a></li>
								<li><a href="#">СТАТЬИ</a></li>
								<li><a href="#">КОНТАКТЫ</a></li>
						      </ul>
						  	</div>
					    </div>
					</div>
				</nav>
				<div class="search">
					<form action="">
						<input type="text" placeholder="Шкаф-купе раздвижной желтый">
						<button></button>
					</form>
				</div>
			</div>
		</div>

    {# Main content of page - other layout templates may override this block #}

    {% block content_wrapper %}

    {% block slider %}{% endblock %}

    <div class="content">
        <div class="container">

            <div class="row">
                {# block for left column #}
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="left_column">
                    {% block column_left %}
                        {% include "partials/left_nav.html" %}
                        <h2>Фильтр</h2>
                        <p class="select_caption">Количество дверей</p>
                        <div class="custom_select">
                            <select>
                                <option>2-ух дверные двери</option>
                                <option>одна дверь</option>
                            </select>
                        </div>
                        <div class="checkbox_main">
                            <input id="check1" type="checkbox" name="check" value="check1">
                            <label for="check1">Прихожие</label>
                            <br>
                            <input id="check2" type="checkbox" name="check" value="check2">
                            <label for="check2">Распашные</label>
                            <br>
                            <input id="check3" type="checkbox" name="check" value="check3">
                            <label for="check3">Все шкафы-купе</label>
                        </div>
                    {% endblock %}
                    </div>
                    <div class="left_banner">
                    {% block left_banner %}
                        <div class="container">
                        </div>
                    {% endblock %}
                     </div>
                </div>

                <div class="col-xs-12 col-sm-9 col-md-9 cold-lg-9">
                {# block for content #}
                {% block breadcrumbs %}
                
                {% endblock %}
                <div class="right_before">
                    {% block content %}{% endblock %}
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% comment %}
        {% block content_wrapper %}

        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% endcomment %}
    {% include "partials/footer.html" %}
    </div>
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
