{% extends "layout.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
    {% trans "Basket" %}
{% endblock %}
{% block content_cls %}contacts_page{% endblock %}
{% block content %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'basket/partials/basket_content.html' with order_form=order_form %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'js/plusminus.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        
        $('#basket_submit').on('click', function (e) {
            e.preventDefault();

            $form = $(this).parents('form');
            var url = $form.attr('action');
            $form.find('.error_field').removeClass('error_field');
            $.ajax({
                url: url,
                method: 'POST',
                data:$form.serialize(),
                success:function (url) {
                    alert('Благодарим ваш заказа оформлен');
                    $(location).attr("href", url);
                },
                error:function (jqXHR, textStatus, exception) {
                    if (jqXHR.status == 400){
                        var errors = $.parseJSON(jqXHR.responseText);
                        $.each(errors, function (key, val) {
                            $form.find('#id_'+key).addClass('error_field');
                        });
                        console.log(jqXHR.responseText);
                    }
                }
            })
        });

        //TODO:Ajax update

        $('.number input').on('change', function () {
            $form = $(this).parents('form');
            $form.submit();
            //$('#basket_table').load('{% url 'basket:summary' %} #basket_table')
        })

    })
    </script>
{% endblock %}