{% extends 'layout.html' %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
    <li><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
     <li class="active">Отзывы</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="product_info">
        <div class="for_write_comment">
            <a href="{% url 'site_reviews:create' %}" class="write_comment">Написать отзыв</a>
        </div>
        {% for review in reviews_list %}
            {% include 'catalogue/partials/review.html' with review=review %}
        {% endfor %}

    </div>
{% endblock %}