{% extends "catalogue/browse.html" %}

{% load i18n %}

{% block title %}
    {% if category.title_tag %}
        {{ category.title_tag }} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if category.meta_description %}
        {{ category.meta_description|default:""|striptags }}
    {% endif %}
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block filters %}
    {% include 'partials/filters.html' with form=filter_form url=category.get_absolute_url %}
{% endblock %}

{% block canonical %}
    {% if canonical %}
        <link rel="canonical" href="{{ category.get_absolute_url }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block right_description %}
    {% if category.description %}
        <div class="row category_description">
        {% if category.image %}
            <div class="col-sm-9">{{ category.description|safe }}</div>
            <div class="col-sm-3"><img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-responsive" /></div>
        {% else %}
            <div class="col-sm-12">{{ category.description|safe }}</div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
