{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load form_tags %}
{% load widget_tweaks %}
{% load favlist_tags %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static "css/fontawesome-stars.css"%}">
{% endblock %}

{% block title %}
    {% if product.title_tag %}
        {{ product.title_tag }} | {{ block.super }}
    {% else %}
        {{ product.title }} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if product.meta_description %}
        {{ product.meta_description|default:""|striptags }}
    {% endif %}
{% endblock %}

{% block content_cls %}
    right_before
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block messages %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
            </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% purchase_info_for_product request product as session %}
    {% basket_form request product as basket_form %}

    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post">
        <div class="product_info clear_fix row">
            <div class="col-sm-4">{% include 'catalogue/partials/gallery.html' with product=product %}</div>
            <div class="product_right col-sm-8" style="min-width: 353px;">
                <p class="product_caption">{{ product.get_title }}</p>
                <p class="product_text" {% if not product.get_preview_info %}style="height: 19px; display: block;" {% endif %}>{{ product.get_preview_info }}</p>
                <p class="product_text">ART.: {{ product.upc }}</p>

                <a href="#" class="button_green">{% if session.availability.is_available_to_buy %}Есть в наличии{% else %}Нет в наличии{% endif %}</a>

                <div class="product_info_oneclick" id="oneClickForm" data-url="{% url 'catalogue:oneclick' product_slug=product.slug pk=product.pk %}">
                    {{ oneclick_form }}
                    {% csrf_token %}
                    <button type="button">Заказать в один клик</button>
                </div>
                {% if basket_form.radio_num > 0 %}
                <div class="varianti">
                    {% if session.availability.is_available_to_buy %}
                    <p class="product_caption">Доступные варианты</p>
                    {% for field in basket_form %}
                        {% annotate_form_field field %}
                        {% if field.widget_type == 'Select' or field.widget_type == 'SelectWithPrices' %}
                            <div class="custom_select">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                <div style="max-width: 353px">
                    {{ product.description|safe }}
                </div>

            </div>
        </div>


        <div class="gray_bg">
            <span class="red_span">ВАЖНО:</span>
            <p class="product_text">Цвет материала шкафа-купе на экране монитора может отличаться от реального. Возможно незначительное отличие по оттенку (яркость, тон или насыщенность, а не глобально другой цвет)</p>
        </div>
        <div class="product_info clear_fix">
            <ul class="dostavka">
                <li>Доставка до подъезда<br>бесплатно от {{ services.free_delivery_from|floatformat:0 }} грн</li>
                <li>Занос в квартиру или дом<br>от {{ services.lifting|floatformat:0 }}  грн</li>
                <li>Сборка<br>{{ services.installation|floatformat:0 }}% от стоимости</li>
            </ul>
            <div class="zakaz">
                {% if not product|favlist_exist:request.favlist %}
                    <a href="{% url 'catalogue:add_to_fav' product_slug=product.slug pk=product.id  %}?next={{ request.build_absolute_uri }}" class="zelanie">В список желаемого</a>
                {% else %}
                    <a href="{% url 'catalogue:rm_from_fav' product_slug=product.slug pk=product.id %}?next={{ request.build_absolute_uri }}" class="zelanie">Из списка желаемого</a>
                {% endif %}
                <div class="payment">
                    <div class="price">
                    <div>
                    {% if session.availability.is_available_to_buy %}
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
                            <span>{% trans "Free" %}</span>
                        {% elif price %}
                            <span>{{ price|currency:session.price.currency }}</span>
                        {% elif session.price.is_tax_known %}
                            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                        {% else %}
                            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
                        {% endif %}
                    {% else %}
                        <span> </span>
                    {% endif %}

                    {% endif %}
                    </div>
                    </div>
                    {% csrf_token %}

                    {% if session.availability.is_available_to_buy %}
                        <button type="submit" class="button_green">В корзину</button>
                    {% else %}
                        <button disabled type="submit" class="button_green">Нет в наличии</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if session.availability.is_available_to_buy %}
        {% for field in basket_form %}
            {% annotate_form_field field %}
            {% if field.widget_type == 'RadioSelect' or field.widget_type == 'CheckboxSelectMultiple' %}
                <div class="gray_bg caption_choose">
                    <p class="product_text">{{ field.label }}:</p>
                </div>
                <div class="product_info">
                    {{ field.errors }}
                    <div class="radio_product">
                        <div class="owl-carousel owl-theme">
                            {% for choice in field %}
                            <div class="item">
                                {% comment %}
                                <input id="radio1" type="radio" name="{{ field.html_name }}" value="radio1">
                                <label for="radio1"></label>
                                {% endcomment %}
                                {{ choice.tag }}
                                <label for="{{ choice.id_for_label }}"></label>
                                {{ choice.choice_label }}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% elif field.widget_type != 'RadioSelect' and field.widget_type != 'Select' and field.widget_type != 'SelectWithPrices' and field.widget_type != 'CheckboxSelectMultiple'%}
                {{ field }}
            {% endif %}
        {% endfor %}


        {% endif %}
    {% if basket_form.select_num > 0 %}
    <div class="product_info clear_fix">
            <ul class="dostavka">
                <li>Доставка до подъезда<br>бесплатно от {{ services.free_delivery_from|floatformat:0 }} грн</li>
                <li>Занос в квартиру или дом<br>от {{ services.lifting|floatformat:0 }}  грн</li>
                <li>Сборка<br>{{ services.installation|floatformat:0 }}% от стоимости</li>
            </ul>
            <div class="zakaz">
                {% if not product|favlist_exist:request.favlist %}
                    <a href="{% url 'catalogue:add_to_fav' product_slug=product.slug pk=product.id %}" class="zelanie">В список желаемого</a>
                {% else %}
                    <a href="{% url 'catalogue:rm_from_fav' product_slug=product.slug pk=product.id %}" class="zelanie">Из списка желаемого</a>
                {% endif %}
                <div class="payment">
                    <div class="price1">
                    <div>
                    {% if session.availability.is_available_to_buy %}
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
                            <span>{% trans "Free" %}</span>
                        {% elif price %}
                            <span>{{ price|currency:session.price.currency }}</span>
                        {% elif session.price.is_tax_known %}
                            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                        {% else %}
                            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
                        {% endif %}
                    {% else %}
                        <span> </span>
                    {% endif %}

                    {% endif %}
                    </div>
                    </div>
                    {% csrf_token %}

                    {% if session.availability.is_available_to_buy %}
                        <button type="submit" class="button_green">В корзину</button>
                    {% else %}
                        <button disabled type="submit" class="button_green">Нет в наличии</button>
                    {% endif %}
                </div>
            </div>
    </div>
    {% endif %}
    </form>
    <div class="gray_bg caption_choose">
        <p class="product_text">ОТЗЫВЫ:</p>
    </div>

    {% iffeature "reviews" %}
        {% block product_review %}
        <div class="product_info">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <form method="post" action="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.pk %}">
                             <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <h2>Оставьте свой отзыв прямо сейчас</h2>
                    </div>
                    <div class="modal-body">
                        <div class="basket_form_input">
                        {{ review_form.name }}
                        {{ review_form.email }}
                        {{ review_form.body }}
                        </div>
                    </div>
                    <div class="modal-footer"><h5>Оцените качество магазина</h5>
                        {{ review_form.score|add_class:'rating_photo' }}

                        <div class="for_write_comment">
                            {% csrf_token %}
                            <button id="review_create_btn" type="button" class="write_comment">Оставить отзыв</button>
                        </div>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="for_write_comment for_write_comment_padding">
                <a href="#" class="write_comment" type="button" data-toggle="modal" data-target="#myModal">Написать отзыв</a>
            </div>
            {% for review in product.reviews.approved.all %}
                {% include 'catalogue/partials/review.html' %}
            {% endfor %}

        </div>
        {% endblock product_review %}
    {% endiffeature %}
    {% comment %}
<article class="product_page"><!-- Start of product page -->

    <div class="row">


        {% block product_main %}
        <div class="col-sm-6 product_main">



            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr/>

            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->

    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}

    {% block product_info %}
    <div class="sub-header">
        <h2>{% trans "Product Information" %}</h2>
    </div>
    <table class="table table-striped">
        {% if product.upc %}
        <tr>
            <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
        </tr>

        {% purchase_info_for_product request product as session %}
        {% if session.price.exists %}
            <tr>
                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
            </tr>
            {% if session.price.is_tax_known %}
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Availability" %}</th>
                <td>{{ session.availability.message }}</td>
            </tr>
        {% endif %}
        {% for av in product.attribute_values.all %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        {% iffeature "reviews" %}
            <tr>
                <th>{% trans "Number of reviews" %}</th>
                <td>{{ product.num_approved_reviews }}</td>
            </tr>
        {% endiffeature %}
    </table>
    {% endblock %}



    {% with recommended_products=product.recommended_products.all|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% recently_viewed_products current_product=product %}

</article><!-- End of product page -->
{% endcomment %}
{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'js/jquery.babypaunch.spinner.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function () {
        $('.option').on('change', function () {
            $form = $(this).parents('form');
            $('.price').load(window.location.pathname+'?'+$form.serialize()+' .price div', function (data) {
                $('.price1').html($(this).html());
            })
        })
    });

    $(function() {


        $('.rating_photo').barrating({
            theme: 'fontawesome-stars'
        });
   });

    $('#oneClickForm button').on('click', function (e) {
            $("#spin").spinner({color: "black", background: "rgba(255,255,255,0.5)"});

            e.preventDefault();
            $form = $(this).parent();
            console.log($form);
            var url = $form.attr('data-url');
            var data = new Object();
            $form.find('input').each(function (index, val) {
                var name = $(val).attr('name');
                data[name] = $(val).val();
                console.log(name);
            });
            $form.find('.error_field').removeClass('error_field');
            $('#spin').show();
            $.ajax({
                url: url,
                method: 'POST',
                data:data,
                success:function (url) {
                    alert('Благодарим ваша заявка принята');
                    $(location).attr("href", url);
                    $('#spin').hide();

                },
                error:function (jqXHR, textStatus, exception) {
                    if (jqXHR.status == 400){
                        var errors = $.parseJSON(jqXHR.responseText);
                        $.each(errors, function (key, val) {
                            $form.find('#id_'+key).addClass('error_field');
                        });
                        $("#spin").hide();
                    }
                }
            })
        });

    $('#review_create_btn').on('click', function (e) {
            e.preventDefault();
            $form = $(this).parents('form');
            var url = $form.attr('action');
            $form.find('.error_field').removeClass('error_field');
            $.ajax({
                url: url,
                method: 'POST',
                data:$form.serialize(),
                success:function (url) {
                    $(location).attr("href", url);
                },
                error:function (jqXHR, textStatus, exception) {
                    if (jqXHR.status == 400){
                        var errors = $.parseJSON(jqXHR.responseText);
                        $.each(errors, function (key, val) {
                            $form.find('#id_'+key).addClass('error_field');
                        });
                    }
                }
            })
        });
    </script>

    <script>
        $("input[type='radio']").click(function () {
            var previousValue = $(this).attr('previousValue');
            var name = $(this).attr('name');

            if (previousValue == 'checked') {
                $(this).removeAttr('checked');
                $(this).attr('previousValue', false);
            }
            else {
                $("input[name=" + name + "]:radio").attr('previousValue', false);
                $(this).attr('previousValue', 'checked');
            }
        });
    </script>

{% endblock %}
