{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load form_tags %}
{% load widget_tweaks %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/fontawesome-stars.css"%}">
{% endblock %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
    {% purchase_info_for_product request product as session %}
    {% basket_form request product as basket_form %}

    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post">
        <div class="product_info clear_fix">
            {% with image=product.primary_image %}
                {% thumbnail image.original "220" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %}
            {% endwith %}
            <div class="product_right">
                <p class="product_caption">{{ product.get_title }}</p>
                <p class="product_text">{{ product.get_preview_info }}</p>
                <p class="product_text">ART.: {{ product.upc }}</p>

                <a href="#" class="button_green">{% if session.availability.is_available_to_buy %}Есть в наличии{% else %}Нету в наличии{% endif %}</a>

                <div class="varianti">
                    <p class="product_caption">Доступные варианты</p>
                    {% for field in basket_form %}
                        {% annotate_form_field field %}
                        {% if field.widget_type == 'Select' or field.widget_type == 'SelectWithPrices' %}
                            <div class="custom_select">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <ul>
                    <li>
                        <p class="product_text"><span>В КОМПЛЕКТ ВХОДИТ:</span> Двери с фотопечатью №2а.</p>
                    </li>
                    <li>
                        <p class="product_text"><span>Цвет ДСП:</span> на выбор.</p>
                    </li>
                    <li>
                        <p class="product_text"><span>Система направляющих:</span> алюминиевая раздвижная система (пр-во Германия)</p>
                    </li>
                    <li>
                        <p class="product_text"><span>Доставка:</span> до 14 дней</p>
                    </li>
                    <li>
                        <p class="product_text"><span>Предоплата:</span> 10%</p>
                    </li>
                    <li>
                        <p class="product_text"><span>Гарантия:</span> 18 месяцев</p>
                    </li>
                </ul>
            </div>
        </div>

        {% if session.availability.is_available_to_buy %}
        <div class="gray_bg">
            <span class="red_span">ВАЖНО:</span>
            <p class="product_text">Цвет материала шкафа-купе на экране монитора может отличаться от реального. Возможно незначительное отличие по оттенку (яркость, тон или насыщенность, а не глобально другой цвет)</p>
        </div>
        <div class="product_info clear_fix">
            <ul class="dostavka">
                <li>Доставка до подъезда<br>БЕСПЛАТНО</li>
                <li>Занос в квартиру или дом<br>min 50 грн</li>
                <li>Сборка<br>262,00 грн</li>
            </ul>
            <div class="zakaz">
                <a href="#" class="zelanie">В список желаемого</a>
                <div class="payment">
                    <div class="price">
                    <div>
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
                            <span>{% trans "Free" %}</span>
                        {% elif price %}
                            <span>{{ price|currency:session.price.currency }}</span>
                        {% elif session.price.is_tax_known %}
                            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                        {% else %}
                            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
                        {% endif %}
                    {% else %}
                        <span> </span>
                    {% endif %}
                    </div>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="button_green">В корзину</button>
                </div>
            </div>
        </div>
        {% for field in basket_form %}
             {% annotate_form_field field %}
            {% if field.widget_type == 'RadioSelect' %}
                <div class="gray_bg caption_choose">
                    <p class="product_text">{{ field.label }}:</p>
                </div>
                <div class="product_info">
                    {{ field.errors }}
                    <div class="radio_product">
                        <ul>
                            {% for choice in field %}
                            <li>
                                {% comment %}
                                <input id="radio1" type="radio" name="{{ field.html_name }}" value="radio1">
                                <label for="radio1"></label>
                                {% endcomment %}
                                {{ choice.tag }}
                                <label for="{{ choice.id_for_label }}"></label>
                                {{ choice.choice_label }}
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% elif field.widget_type != 'RadioSelect' and field.widget_type != 'Select' and field.widget_type != 'SelectWithPrices' %}
                {{ field }}
            {% endif %}
        {% endfor %}

        {% endif %}
    </form>
    <div class="gray_bg caption_choose">
        <p class="product_text">ОТЗЫВЫ:</p>
    </div>

    {% iffeature "reviews" %}
        {% block product_review %}
        <div class="product_info">
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}

                {% for review in product.reviews.approved.all|slice:":3" %}
                    {% include 'catalogue/partials/review.html' %}
                {% endfor %}
            {% endif %}
        </div>
        {% endblock product_review %}
    {% endiffeature %}
    {% comment %}
<article class="product_page"><!-- Start of product page -->

    <div class="row">


        {% block product_main %}
        <div class="col-sm-6 product_main">



            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr/>

            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->

    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}

    {% block product_info %}
    <div class="sub-header">
        <h2>{% trans "Product Information" %}</h2>
    </div>
    <table class="table table-striped">
        {% if product.upc %}
        <tr>
            <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
        </tr>

        {% purchase_info_for_product request product as session %}
        {% if session.price.exists %}
            <tr>
                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
            </tr>
            {% if session.price.is_tax_known %}
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Availability" %}</th>
                <td>{{ session.availability.message }}</td>
            </tr>
        {% endif %}
        {% for av in product.attribute_values.all %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        {% iffeature "reviews" %}
            <tr>
                <th>{% trans "Number of reviews" %}</th>
                <td>{{ product.num_approved_reviews }}</td>
            </tr>
        {% endiffeature %}
    </table>
    {% endblock %}



    {% with recommended_products=product.recommended_products.all|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% recently_viewed_products current_product=product %}

</article><!-- End of product page -->
{% endcomment %}
{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function () {
        $('.option').on('change', function () {
            $form = $(this).parents('form')
            $('.price').load(window.location.pathname+'?'+$form.serialize()+' .price div')
        })
    });

    $(function() {


        $('.rating_photo').barrating({
            theme: 'fontawesome-stars'
        });
   });
    </script>
{% endblock %}
